Add a login and register page where there will be two types of users . corporate and single users 

Single user will only be able to see their analytics of phising data where as corporate user will be able to see all the users and their data and also be able to add their new users much like amazon aws cloud system


frontend integration with backend remaining


Add notification system to notify the user

Analytics behaviour changes needed to be done.

if user? ==> yes ==> login 
else route register==> during registration ==> username organization name , email, and other required field needed to be filled 
then proceed the user to register a persosnal or coreporate user as shown by the uml diagrams 


some changes in architecture
  some changes in the requirement
  


  documentation preparation phase
   add necessary diagrams 
   add test case
   add api routes
   some   cophan the map that leads to hh
   feel this mo chs back
   
   
   
   
 