/* src/components/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34579b;
    padding: 1rem;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}
